/* HeaderNav.module.css */

/* LOGO */
#logoNav {
  max-width: 40px;
}

/* NAVIGATION BAR */
.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  color: #0b0a07;
}

/* MENU LINKS */
.nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.link {
  min-width: 100px;
}

.cartLink{
  display: inline-flex;
  gap: 4px
}


.nav a {
  text-decoration: none;
  color: #0b0a07;

}
.nav a:hover {
  font-weight: 500;
}


